// imports
@import '../../../style/defaultStyle';

.pageheader-style {
  .contact-info {
    @include flex-type(space-between);
    height: 50px;
    background: var(--gray-901);
    color: var(--white);
    font-size: 12px;

    img {
      margin-right: 14px;
    }
    p,
    a {
      font-family: var(--fontfam-Roboto);
      letter-spacing: 1px;
    }
    a:hover {
      color: var(--white);
    }

    .box-1 {
      @include flex-type(row);
      align-items: center;
      padding: 0px 30px 0px 30px;
    }

    .box-2 {
      clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
      @include flex-type(column);
      justify-content: center;
      align-items: center;
      background: var(--theme-red);
      padding: 0px 30px 0px 90px;
    }

    .box-2 a {
      font-size: 24px;
      font-weight: 900;
    }
    .box-2 .phone {
      @include flex-type(row);
      align-items: center;
    }

    .location,
    .email {
      @include flex-type(row);
      align-items: center;
      margin-right: 42px;
    }
  }

  .navheader {
    @include flex-type(space-between);
    padding: 30px;
    box-shadow: 0px 21px 10px -15px var(--gray-901);

    .business-logo {
      width: 100%;
    }

    .nav {
      width: 100%;
      @include flex-type(column);
      justify-content: center;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        letter-spacing: 2px;
        width: auto;
        margin: auto;
      }
      ul li a {
        font-family: var(--fontfam-Raleway);
        text-decoration: none;
        cursor: pointer;
        color: var(--white);
        text-transform: uppercase;
        font-size: 14px;
        margin: 0px 10px;
        padding: 10px 10px;
      }

      ul li a.active:before {
        position: absolute;
        background: #fff;
        opacity: 0.3;
        transition: all 0.3s;
      }

      &.pullRight a:before {
        position: absolute;
        width: 2px;
        height: 100%;
        left: 0px;
        top: 0px;
        content: '';
        background: #fff;
        opacity: 0.3;
        transition: all 0.3s;
      }
      &.pullRight a:hover:before,
      ul li a.active:before {
        width: 100%;
      }
    }

    &.header-opacity {
      position: relative;
      overflow: hidden;
      // background-color: var(--black);  // USE THIS AS CHOSEN COLOR FOR BG IMAGE
      z-index: 2;
    }
    &.header-opacity:before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0.6;
      object-fit: cover;
      // background-image: url('../../../img/backgrounds/subway.jpeg');
      background: var(--black);
      background-position: 50% 0;
      -ms-background-size: cover;
      -o-background-size: cover;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
    }
    &.header-opacity img,
    ul,
    li,
    a,
    p {
      z-index: 3;
      position: relative;
      color: var(--white);
      text-align: center;
    }
  }

  .down-pattern {
    clip-path: polygon(0 100%, 100% 0, 100% 100%, 0% 100%);
    height: 100px;
    background: var(--white);
    position: relative;
    z-index: 4;
    // margin-top: -99px;
  }

  .box-content {
    @include width(1200);
    padding: var(--padding-big);

    h1.slogan {
      font-family: var(--fontfam-Raleway);
      font-weight: 700; // based on Raleway-Bold.ttf
      text-shadow: 9px 6px 5px var(--black);
      text-align: center;
      letter-spacing: 5px;
      font-size: 42px;
    }
  }

  &.background-opacity {
    position: relative;
    overflow: hidden;
    background-color: var(--black);
    z-index: 2;
  }
  &.background-opacity:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
    object-fit: cover;
    background-image: url('../../../img/radiotower_rural_area.jpg');
    background-position: center;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    /*
        fixed = parallax
        scroll = normal
    */
    background-attachment: fixed;
  }
  &.background-opacity p,
  img,
  a,
  h1,
  .contact-info,
  .nav,
  ul,
  ul li a {
    z-index: 3;
    position: relative;
    color: var(--white);
  }
}
