// imports
@import "../../../style/defaultStyle";

.homepage-style {

    .down-pattern {
        clip-path: polygon(0 100%, 100% 0, 100% 0, 0 0);
        height: 100px;
        background: var(--white);
        position: relative;
        z-index: 4;
    }

    section.services-content {
        padding: var(--padding-large);
        position: absolute;
        margin-top: -100px;

        .box-content {
            @include width(900);

            .box-info {
                @include flex-type(row);
                align-items: center;
                margin-top: 15px;
            }
            .box-info:first-child {
                margin-top: 0px;
            }
        }

        .parallax {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.2;
            z-index: 1;
        }

        &.hero {
            position: relative;
            overflow: hidden;
            background: var(--theme-black);
            z-index: 2;
        }
        &.hero h2, p, img {
            z-index: 3;
            position: relative;
            color: var(--white);
        }
          
    }

    .partners-content {
        background: var(--white);
        padding: var(--padding-small);

        .box-content {
            @include flex-type(space-between);            
            @include width(1200);
            align-items: center;
        }
    }

    .customers-content {
        background: var(--theme-cream);
        padding: var(--padding-small);

        .box-content {
            @include flex-type(space-between);
            @include width(1200);
        }
    }

}