// imports
@import '../../../style/defaultStyle';

.services-style {
  .top-pattern {
    clip-path: polygon(0 100%, 100% 0, 100% 0, 0 0);
    height: 100px;
    background: var(--white);
    position: relative;
    z-index: 4;
  }

  section.services-content {
    padding: var(--padding-top-large);
    position: absolute;
    margin-top: -99px;

    .img-size {
      width: 320px;
      height: 230px;
    }

    @media only screen and (min-device-width: 1300px) and (max-device-width: 1920px) {
      .box-content {
        @include width(1200);

        .box-info {
          @include flex-type(space-evenly);
          margin-top: 15px;
        }
        .box-info:first-child {
          margin-top: 0px;
        }
      }
    }
    @media only screen and (min-device-width: 1030px) and (max-device-width: 1299px) {
      .box-content {
        .box-info {
          @include flex-type(space-evenly);
          margin-top: 15px;
        }
        .box-info:first-child {
          margin-top: 0px;
        }
      }
    }
    @media only screen and (min-device-width: 690px) and (max-device-width: 1029px) {
      .box-content {
        .box-info {
          @include flex-type(space-evenly);
          margin-top: 15px;
        }
        .box-info:first-child {
          margin-top: 0px;
        }

        .img-size {
          width: 245px;
          height: 165px;
        }
      }
    }

    &.background-opacity {
      position: relative;
      overflow: hidden;
      background-color: var(--black);
      z-index: 2;
    }
    &.background-opacity:before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0.2;
      object-fit: cover;
      background-image: url('../../../img/backgrounds/walkie-talkie.jpg');
      background-position: 50% 0;
      -ms-background-size: cover;
      -o-background-size: cover;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      /*
                fixed = parallax
                scroll = normal
            */
      background-attachment: fixed;
    }
    &.background-opacity img,
    p,
    h2,
    .box-content {
      z-index: 3;
      position: relative;
      color: var(--white);
    }
  }
}
