// imports
@import '../../../style/defaultStyle';

.intro-style {
  padding: var(--padding-big);
  background: var(--white);
  position: relative;
  z-index: 7; // for .top-pattern under WhatWeOfferContent.js
  margin-top: -1px; // connected in HeaderContent.js

  .box-content {
    @media only screen and (min-device-width: 1300px) and (max-device-width: 1920px) {
      @include width(1200);
    }
    @media only screen and (min-device-width: 769px) and (max-device-width: 1920px) {
      @include flex-type(space-between);
    }

    .box-1 {
      margin-right: 42px;
      width: 100%;

      &.animation-effect {
        overflow: hidden;
        box-shadow: 21px 21px #f24a4a;
        @media only screen and (min-device-width: 769px) and (max-device-width: 1920px) {
          height: 350px; // need to be match on img height
        }
        @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
          height: 450px; // need to be match on img height
        }
      }
      &.animation-effect img {
        transition: all 0.3s ease-out;
        @media only screen and (min-device-width: 769px) and (max-device-width: 1920px) {
          height: 350px; // need to be match on animation effect height
        }
      }
      &.animation-effect img:hover {
        transform: scale(1.2, 1.2);
      }
    }

    .box-2 {
      @media only screen and (min-device-width: 769px) and (max-device-width: 1920px) {
        margin-left: 42px;
        width: 160%;
      }
      @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
        margin-top: 30px;
      }
    }

    h2 {
      text-align: left;
      margin-bottom: 0px;
    }
    hr {
      height: 4px;
      width: 42px;
      background: var(--theme-red);
      border: 0;
      margin-right: 21px;
    }
  }
}
