// imports
@import '../../../style/defaultStyle';

.projects-style {
  background: var(--white);
  padding: var(--padding-big);

  h3.center {
    text-align: center;
  }

  @media only screen and (min-device-width: 1300px) and (max-device-width: 1920px) {
    .box-content {
      @include flex-type(space-between);
      @include width(1200);

      section {
        height: 520px;
        width: 300px;
        box-shadow: 5px 5px 10px var(--gray-500);
        font-size: 14px;
        margin-right: 20px;

        .section-content {
          background: var(--white);
          padding: var(--padding-xs);
        }
      }
      section:last-child {
        margin-right: 0px;
      }
    }
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 1299px) {
    .box-content {
      @include flex-type(space-between);

      section {
        height: 520px;
        width: 300px;
        box-shadow: 5px 5px 10px var(--gray-500);
        font-size: 14px;
        margin-right: 20px;

        .section-content {
          background: var(--white);
          padding: var(--padding-xs);
        }
      }
      section:last-child {
        margin-right: 0px;
      }
    }
  }
}
