// imports
@import '../../../style/defaultStyle';

.header-style {
  .background-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 150vh;
    background-size: cover;
    will-change: opacity;
    object-fit: cover;
    background: var(--black);
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
  }

  .down-pattern {
    clip-path: polygon(0 100%, 100% 0, 100% 100%, 0% 100%);
    height: 100px;
    background: var(--white);
    position: relative;
    z-index: 4;
    // margin-top: -99px;
  }

  .box-content {
    // @media only screen and (min-device-width: 1030px) and (max-device-width: 1920px) {
    //   @include width(1200); // MUST NEED TO HIDE THIS AS IT AFFECT THE STICKY
    // }
    padding: 220px 30px 220px 30px;
    position: relative;
    z-index: 5;

    p.slogan {
      font-family: var(--fontfam-PlayfairDisplaySC);
      font-weight: 700; // based on PlayfairDisplaySC-Bold.ttf
      text-shadow: 9px 6px 5px var(--black);
      letter-spacing: 5px;
      color: var(--white);

      @media only screen and (min-device-width: 716px) and (max-device-width: 1920px) {
        font-size: 51px;
      }
      @media only screen and (min-device-width: 381px) and (max-device-width: 715px) {
        font-size: 42px;
        margin-bottom: 60px;
      }
      @media only screen and (min-device-width: 320px) and (max-device-width: 380px) {
        font-size: 33px;
        margin-bottom: 60px;
      }
    }
    p.sub-slogan {
      font-family: var(--fontfam-JosefinSans);
      text-shadow: 9px 6px 5px var(--black);
      letter-spacing: 3px;
      margin-top: -50px;
      color: var(--white);

      @media only screen and (min-device-width: 716px) and (max-device-width: 1920px) {
        font-size: 21px;
      }
      @media only screen and (min-device-width: 320px) and (max-device-width: 715px) {
        font-size: 17px;
      }
    }
  }

  // &.background-opacity {
  //   position: relative;
  //   overflow: hidden;
  //   z-index: 2;
  // }
  &.background-opacity:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 850px; // DAPAT height: 100% YAN EE KASO AYON
    z-index: 1;
    opacity: 0.6;
    object-fit: cover;
    background: var(--black);
  }
}
